

h1, h2, h3, p {
	font-family: "Arial";
	/*color: white;*/
}

/*.custom {
	width: 200px;
	height: 20px;
	cursor: url('./assets/img/text.png');
	
}*/

.column_one{
	padding: 10px;

}

h1 {
	font-size: 12pt;
	
}
h2{
	font-size: 12pt;
}

#move{
	z-index: 10;
	opacity: 1;

}

iframe {
	width: 700px;
	height: 700px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}

.cursor {
	font-size:10pt;
	position: fixed;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;
}

  
/*.circles{
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translate(-50%);
}

#circle {
	width: 15px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 20px;
	

}

#circle_one {
	width: 15px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 20px;
	
}

#circle_two {
	width: 15px;
	height: 15px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 20px;
	

}
*/

.title_name {
	font-size: 12pt;
	font-weight: bolder;
	position: absolute;
	top: 2%;
	right: 2%;

	/*color: white;*/
}
.whole {
	width: 100%;
	height: 200px;	
	z-index: 10;

}

.body_text {
	font-size: 50pt;
	padding-left: 10px;
	z-index: 10;
	cursor: pointer;
	margin-bottom: 60px;
}




/*.one , .two, .three, .four {
	width: 20%;
	height: 20%;

}

.one {
	
	top: 20%;
	left: 70%;
}

.two {
	
	top: 45%;
	left: 60%;
}

.three{
	
	top: 70%;
	left: 40%;
}

.four {
	
	right: 20%;
	left: 30%;
}*/



.footer h3{
	font-size: 8pt;
	position: fixed;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%);
	font-weight: lighter;
}

/*.module {
  cursor: url('path-to-image.png'), auto;	
}*/